In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire as a

In [19]:
def basic_clean(string):
    '''
    This function accepts a string as an input
    then lowercases everything, normalizes unicode
    characters, and replaces anything that is
    not a letter, number, whitespace, 
    or a single quote.
    '''
    cleaned = string.lower()
    cleaned = unicodedata.normalize('NFKD', cleaned)\
    .encode('ascii', 'ignore')\
    .decode('utf-8', 'ignore')
    cleaned = re.sub(r"[^a-z0-9'\s]", '', cleaned)
    
    print(cleaned)

In [20]:
def tokenize(string):
    '''
    This function takes in a string as an input
    then tokenizes all words in the string.
    '''
    tokenizer = nltk.tokenize.ToktokTokenizer()
    print(tokenizer.tokenize(string, return_str=True)[0:500])

In [21]:
def stem(string):
    '''
    This function takes in a string as an input
    then stems all words in the string.
    '''
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in string.split()]
    print(string_stemmed)

In [22]:
def lemmatize(string):
    '''
    This function takes in a string as an input
    then lemmatizes all words in the string.
    '''
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    string_lemmatized = ' '.join(lemmas)

    print(string_lemmatized)

In [23]:
def remove_stopwords(string, extra_words=[], exclude_words=[]):
    '''
    This function takes in a string as an input
    then removes stopwords. The function has two
    additional parameters that define additional
    stopwords to remove in extra_words as a list,
    and defines stopwords to exclude from removal
    in exlude_words as a list. extra_words and
    exclude_words are empty lists by default.
    '''
    words = string.split()
    filtered_words = [w for w in words if w not in stopword_list]

    print('Removed {} stopwords'.format(len(words) - len(filtered_words)))
    print('---')

    string_without_stopwords = ' '.join(filtered_words)

    print(string_without_stopwords)

In [7]:
blog_articles = a.get_blog_articles()

In [9]:
codeup_df = blog_articles

In [8]:
news_articles = a.get_news_articles()

In [10]:
news_df = news_articles

In [11]:
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

In [12]:
news_df.head()

,title,content,category
0,"Moscow-Goa flight gets bomb threat, makes emer...",A Goa-bound flight from Russia's Moscow made a...,national
1,"Joshimath divided into 3 zones, govt says most...","Uttarakhand's Joshimath, where a majority of b...",national
2,Which states have reported COVID-19 variant XB...,"One new case of COVID-19 variant XBB.1.5, whic...",national
3,I decided to wear t-shirt till I shiver after ...,Congress leader Rahul Gandhi on Monday told re...,national
4,"2 children charred to death, 4 other siblings ...",At least two children were charred to death an...,national

In [14]:
codeup_df.iloc[0]

title                   Become a Data Scientist in 6 Months!
content    Are you feeling unfulfilled in your work but w...
Name: 0, dtype: object

In [24]:
basic_clean(codeup_df['content'][0])

are you feeling unfulfilled in your work but want to avoid returning to the traditional educational route codeup can help starting over as a professional is daunting and not always ideal codeup can help you go from a career you are bored with to a job that excites you in just 6 months
heres how
data science program
during our 20week program you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech
youll gather data then clean it explore it for trends and apply machine learning models to make predictions
upon completing this program you will know how to turn insights into actionable recommendations youll be a huge asset to any company having all the technical skills to become a data scientist with projects upon projects of experience under your belt
codeup
a common reason individuals opt not to change their careers is fear it is too late codeup has crafted a program that will guide you through your career transition and prove that you can jumpstart a new job at any age and experience level
when you decide to attend codeup you get a support system first our admissions team will guide you through getting started as well as assist with getting your financial aid squared away
once your program begins you will have industry experts as your instructors who will help you reach your full potential and complete the program successfully
next you will have a student experience team ready to assist you with navigating through the program and any of lifes obstacles that may arise
finally you have a placement team to help you secure the job youll work so hard to land

if you do not land a job within six months of completing a codeup program we will refund 100 of your paid tuition
if you arent sure if a career in data science is right for you consider attending our 100 free instructorled workshops these workshops are designed to give you a taste of what youll learn in our programs as well as give you information on financial aid and admissions
we can also provide programspecific information to your inbox at any time get started now or give us a call at 210 8027289 and well walk you through the process
jumpstart your tech career with the first and only accredited bootcamp in texas
codeup is accredited for postsecondary nondegree granting career and technology programs by the middle states commission on secondary schools of the middle states association of colleges and schools 3624 market street philadelphia pa 19104 267 2845000